/*----------------------------------------
Project:	System Masar Marketing

Devloper:	Hady Rabie - Mohamed Salah
----------------------------------------*/
/*----------------------------------------
[Table of contents]

1. Home


/*==============================
	Home
==============================*/
header{
    height: 100vh;
    border-radius: 15px;
    box-sizing: border-box;
    width: 100%;
}
/* Title Section */
header .titleSection{
    display: flex;
    justify-content: space-between;
    height: 50px;
    color: #ab9696;
    align-items: center;
    margin: 6px 0;
}

/* View Bar */
.viewBar{
    width: 95%;
    border-radius: 15px;
    margin: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.viewBar .boxBar{
    color: var(--color);
    background: var(--component);
    height: 100px;
    width: 285px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 3px 3px 6px #00000049;
    cursor: pointer;
    transition: all 0.3s ease;
}
.viewBar .boxBar:hover{
    color: #96bbff;
    background: #102339;
}
.boxIcon{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.statusBar{
    height: 18%;
    display: flex;
    align-items: flex-end;
}

.opacityText{
    font-size: 14px;
    color: #7a7ea2d6;
}

.boxGreen{background:  rgba(58, 175, 40, 0.936); }
.boxRed{background:rgba(255, 74, 74, 0.57);}
.boxBlue{background:rgb(188 194 255);}
.boxGray{background: gray;}

/* Box Head */
.boxHead{
    color: var(--color);
    background: var(--component);
    height: 350px;
    width: 586px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 3px 3px 6px #00000049;

}
/* View head */
.viewHead{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
/* Card Employees */
.boxCard{
    display: flex;
    width: 393px;
    height: 100%;
    color: var(--color);
    background: var(--component);
    border-radius: 20px;
    flex-direction: column;
}
.cover{
    display: flex;
    width: 140px;
    height: 140px;
    background: var(--dark-light);
    border-radius: 80px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: -15px;
    box-shadow: inset -4px -5px 2px -3px #0000003b
}
.cardImg{
    display: flex;
    width: 100px;
    height: 100px;
    background: #EEE;
    border-radius: 50px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 6px #00000049;
    position: relative;
}
.cardImg span{
    position: absolute;
    background: #00000082;
    color: #ded9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    opacity: 0;
    transition: all .3s ease;
    cursor: pointerg
}
.cardImg:hover span{
    opacity: 1;
}
.cardImg img{
    height: 95%;
    border-radius: 50px;
}
.userName{
    height: 126px;
    width: 50%;
    margin-left: 35px;
    color: var(--color);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.h6{color:#b2a8a8 ;}

.infoCard{
    color: var(--color);
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 600;
    margin: 15px;
}
.rating{
    display: flex!important;
    justify-content: flex-end!important;
    flex-direction: column!important;
    align-items: flex-start!important;
    margin: 20px 0px 0 13px!important;
    width: 100%!important;
    font-size: 6px!important;
    color: var(--color);
}
.rating h4{
    margin: 0 0 10px 3px!important;
}
.rating strong{
    display: none;
}
/* Fixed & Traning */
.fixed , .trainig, .permanent{
    display: inline-block;
    padding: 0.35em 0.65em;
    margin: 15px;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #EEE;
}
.fixed{background: #300dcd;}
.trainig{background: #13cd0d;}
.permanent{background: #0dcd94;}
/* Nav Setails */
.personalDetails{
    width: 100%;
    height: 100%;
    background: var(--component);
    border-radius: 20px;
    margin-left: 11px;
    overflow-y: auto;
    overflow-x: hidden;
}
.nav-tabs{
    padding-left: 30px;
    border-bottom: 1px solid #dee2e600!important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #eeeeee00;
    border-radius: 0 0 7px 7px;
    background: rgba(184, 184, 184, 0.136)000;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--color);
    background-color: var(--dark-light);
    border-radius: 0 0 7px 7px;
    box-shadow: inset 0px -2px 3px -1px #00000066;
    border-color: #dee2e600 #dee2e600 #ffffff00;
}

/* Table Bersonal */
.boxIdcard{
    margin-top: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.boxIdcard .idaCard{
    position: relative;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
}
.boxIdcard .idaCard img{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    cursor: zoom-in;
}
.boxIdcard .idaCard span{
    position: absolute;
    bottom: 1%;
    right: 1px;
    display: flex !important;
    width: 40px;
    height: 40px;
    border-radius: 17px 17px 10px;
    background: #35363cbf;
    color: #dcdcdc;
    opacity: 0;
    transition: all .3s ease;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.boxIdcard .idaCard:hover span{
    opacity: 1;
}

#zoomedImage {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    transform: scale(2.5);
    display: none;
  }


.box1{
    margin-top: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ml-4{
    margin-left: 1em !important;
}

form .boxInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}
form .boxInput input ,select{
    background: none !important;
    color: #907d7d;
    border: 1px solid #d8d4ff52;
    min-width: 260px;
    padding: 8px;
    border-radius: 5px;
}
.form-control:focus {
    color: #ced4da!important;
}
/* EGP */
.salery{
    position: relative;
}
.salery span{
    position: absolute;
    right: 10px;
    top: 10px;
    color: orange;
    font-weight: 600;
}
.saveBtn{
    width: 100%;
}

